body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.source {
  font-style: italic;
  font-size: smaller;
}

.undefWord {
  text-decoration: underline dashed;
  cursor: pointer;
}

.deleteLink {
  font-size: smaller;
}

.deleteLinkButton {
  border-style: none;
  background-color: transparent;
  padding: 0;
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}
