body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.source {
  font-style: italic;
  font-size: smaller;
  margin-top: 5pt;
}

.source-span {
  font-style: italic;
  font-size: smaller;
  display: inline;
}

.undefWord {
  text-decoration: underline dashed;
  cursor: pointer;
}

.inlineButtonLink {
  font-size: smaller;
}

.inlineButton {
  border-style: none;
  background-color: transparent;
  padding: 0;
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.inlineButtonActive {
  font-weight: bold;
}

.errorText {
  color: red
}

.iconWithMargin {
  margin-left: 2px;
  cursor: pointer;
}

.stressed {
  text-decoration: underline;
  font-weight: bold;
}

.richTextEmph {
  font-weight: bold;
}

.richTextTooltip {
  text-decoration: underline dotted;
}

.tableWithBorders {
  border-collapse: collapse;
}

.tableWithBorders tr {
  padding: 0;
  margin: 0;
}

.tableWithBorders td, .tableWithBorders th {
  border: 1px solid black;
  padding: 5px;
}

.phonemeTable {
  text-align: center;
}

.footer {
  font-size: smaller;
  margin-top: 10pt;
}

.newWord {
  font-size: x-small;
  margin-left: 5pt;
  padding: 2px;
  background: green;
  color: white;
}

.wordDefinitions {
  margin-left: 5pt;
  font-size: small;
}

.inputAssist {
  padding-left: 10pt;
}

.inputAssistButton {
  font-size: medium;
  padding-left: 1pt;
  padding-right: 1pt;
}

.glossAbbreviation {
  font-variant: small-caps;
}
