body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.source {
  font-style: italic;
  font-size: smaller;
  margin-top: 5pt;
}

.source-span {
  font-style: italic;
  font-size: smaller;
  display: inline;
}

.undefWord {
  text-decoration: underline dashed;
  cursor: pointer;
}

.inlineButtonLink {
  font-size: smaller;
}

.inlineButton {
  border-style: none;
  background-color: transparent;
  padding: 0;
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.inlineButtonActive {
  font-weight: bold;
}

.errorText {
  color: red
}

.iconWithMargin {
  margin-left: 2px;
  cursor: pointer;
}

.stressed {
  text-decoration: underline;
  font-weight: bold;
}

.richTextEmph {
  font-weight: bold;
}

.phonemeTable {
  border-collapse: collapse;
}

.phonemeTable tr {
  padding: 0;
  margin: 0;
}

.phonemeTable td, .phonemeTable th {
  text-align: center;
  border: 1px solid black;
  padding: 5px;
}

.footer {
  font-size: smaller;
  margin-top: 10pt;
}
